<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Yenta | View Matches</title>
</head>

<body onload="selectGame()">

  <% include ../partials/nav-logged-in.ejs %>

  <div class="container">
    <h1>Matches</h1>
    <div class="row">
      <% if (games.length > 0) { %>
        <div class="col-md-3 mb-3">
          <div class="list-group" id="" role="tablist">
            <% games.forEach(game => { %>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#game-<%= game.id %>" role="tab" id="gameSelector<%= game.id %>" onclick="getUserMetrics(<%= game.id %>)">
                <div class="d-flex justify-content-between align-items-center">
                  <small><%= game.title %></small>
                  <% if (game.matches && game.matches.length > 0) { %>
                    <span class="badge badge-pill badge-success"><%= game.matches.length %></span>
                  <% } else { %>
                    <span class="badge badge-pill badge-danger">0</span>
                  <% } %>
                </div>
              </a>
            <% }) %>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content" id="nav-tabContent">
            <% games.forEach(game => { %>
              <div class="tab-pane fade" id="game-<%= game.id %>" role="tabpanel">
                <h2><%= game.title %></h2>
                 <div id="user-metrics-<%= game.id %>"></div>
                <% if (game.matches && game.matches.length > 0) { %>
                  <div class="list-group" id="list-tab-<%= game.matches.id %>" role="tablist">
                    <% game.matches.forEach(match => { %>
                      <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab" id="" onclick="getMatchMetrics(<%= match.id %>, <%= game.id %>)">
                        <div class="d-flex justify-content-between align-items-center">
                          <span><%= match.username %></span>
                          <% if (match.match_level > 90) { %>
                            <span class="badge badge-pill badge-success"><%= match.match_level %>%</span>
                          <% } else if (match.match_level > 80) { %>
                            <span class="badge badge-pill badge-warning"><%= match.match_level %>%</span>
                          <% } else { %>
                            <span class="badge badge-pill badge-danger"><%= match.match_level %>%</span>
                          <% } %>
                        </div>
                      </a>
                    <% }) %>
                  </div>
                <% } else { %>
                  <p class="display-4">No matches found :(</p>
                <% } %>
              </div>
            <% }) %>
          </div>
        </div>
      <% } %>
    </div>

  </div>
  <% include ../partials/logout-modal.ejs %>

  <% include ../partials/footer.ejs %>
  <script src="/js/matches.js"></script>

</body>
</html>
